.cate_left{
    width: 90px;
    height: 100%;
    float: left;
    overflow: hidden;
}
.cate_left ul {
    width: 100%;
    padding: 0;
    margin: 0;
}
.cate_left ul li{
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #c4c5c6;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.cate_left ul li a{
    display: block;
    color: #333;
}
.cate_left ul li.now {
    background-color: #fff;
    border-right: 0;
}
.cate_left ul li.now a{
    color: orange;
}
.cate_right{
    overflow: hidden;
    padding: 0 10px;
}
.cate_right ul{
    padding: 20px;
    margin: 0;
    width: 100%;
    height: auto;
}
.cate_right ul li{
    width: 33.333%;
    float: left;
    text-align: center;
}
.cate_right ul li a{
    display: block;
    float: left;
}
.cate_right ul li a img{
    width: 56px;
    height: 28px;
    margin: 0 auto;
}
.cate_right ul li a p{
    text-align: center;
    color: #666;
}