.ct_container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ct_container .ct_header,
.ct_container .ct_footer{
    width: 100%;
    background-color: #006699;
    position: absolute;
    left: 0;
}
.ct_container .ct_header{
    height: 45px;
    top: 0;
    text-align: center;
}
.ct_container .ct_header .btn_left{
    left: 0;
}
.ct_container .ct_header .btn_right{
    right: 0;
}
.ct_container .ct_header h3{
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-weight: normal;
}
.ct_container .ct_header a{
    width: 45px;
    height: 45px;
    display: block;
    color: #fff;
    position: absolute;
    top: 0;
}
.ct_container .ct_header span{
    color: #fff;
    display: block;
    line-height: 45px;
}
.ct_container .ct_footer{
    bottom: 0;
    height: 55px;
    text-align: center;
}
.ct_container .ct_footer a{
    width: 25%;
    height: 55px;
    display: block;
    color: #fff;
    float: left;
    padding-top: 13px;
    font-size: 16px;
}
.ct_container .ct_footer span{
    display: block;
    padding-top: 6px;
    font-size: 12px;
}
.ct_container .ct_footer a.now{
    color: orange;
}
.ct_container .ct_content{
    padding: 45px 0 55px 0;
    width: 100%;
    height: 100%;
}
.ct_container .ct_content .ct_wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.mui-slider-indicator{
    z-index: 9999;
}
body{
    background-color: #fff;
}
li{
    list-style: none;
}